@import '../../global.scss';
.portfolioList {
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    @include mobile{
       margin-right: 15px;
    }
    cursor: pointer;
    &.active {
      background-color: $mainColor;
      color: white;
    }
  }